@use "./subStyle/variable.scss" as *;
@use "./subStyle/mixins.scss" as *;
// GOOGLE FONT
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
  position: relative;
  color: rgb(239, 239, 239);
  background-color: black;
}
.blur {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;

  filter: blur(3px);
  opacity: 0.45;

  background-image: url(\sfondo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
